importScripts(
    "https://www.gstatic.com/firebasejs/10.4.0/firebase-app-compat.js"
);
importScripts(
    "https://www.gstatic.com/firebasejs/10.4.0/firebase-messaging-compat.js"
);

// Konfigurasi Firebase
firebase.initializeApp({
    apiKey: "",
    authDomain: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: "",
    appId: "",
    measurementId: "",
});

const message = firebase.messaging();

// Tangani notifikasi background
message.onBackgroundMessage((payload) => {
    console.log("🔔 Background message:", payload);
    const { title, body, icon } = payload.data;

    self.registration.showNotification(title, {
        body: body,
        icon: icon,
        vibrate: [200, 100, 200],
    });
});

// Tangani klik notifikasi agar membuka halaman web tertentu
self.addEventListener("notificationclick", (event) => {
    event.notification.close();
    event.waitUntil(clients.openWindow("/"));
});
